name: Deploy to cloudtype
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Connect deploy key
        uses: cloudtype-github-actions/connect@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          ghtoken: ${{ secrets.GHP_TOKEN }}
      - name: Deploy
        uses: cloudtype-github-actions/deploy@v1
        with:
          token: ${{ secrets.CLOUDTYPE_TOKEN }}
          project: kormoon84/vibe-coding-test04
          stage: main
          yaml: >
            name: vibe-coding-test04

            app: node@24

            options:
              env:
                - name: MONGO_URI
                  value: mongodb+srv://kormoon84_db_user:ISpBDlKlbsIGMLB6@cluster0.pn08ap9.mongodb.net/study?retryWrites=true&w=majority&appName=Cluster0
              buildenv: []
            context:
              git:
                url: git@github.com:${{ github.repository }}.git
                ref: ${{ github.ref }}
